@import "reset.css";
@import url(https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap);

body {
  background-color: #0A2227;
  overflow: hidden;
  height: 100%;
  background-size: auto;
  cursor: url('../img/cursor.png'), auto; !important;
}

.text {
  display: none;
  position: absolute;
  top: 35%;
  font-size: 5vw;
  line-height: 140%;
  text-align: center;
  margin: auto;
  font-family: 'Lora', serif;
  color: #8FB75B;
}

#text:hover {
  color: #9954AB;
}

#text_2:hover {
  color: #79B9F5;
}

#text_3:hover {
  color: #9954AB;
}

#text_4:hover {
  color: #79B9F5;
}

#text_5:hover {
  color: #9954AB;
}

#text_6:hover {
  color: #79B9F5;
}

#text_7:hover {
  color: #9954AB;
}

#text_8:hover {
  color: #79B9F5;
}

#text_9:hover {
  color: #9954AB;
}

#text_10:hover {
  color: #79B9F5;
}

.branches {
  position: absolute;
  height: 100%;
  width: 150%;
  margin-left: -150vw;
}

.particles {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.branches path:hover {
  stroke: #9954AB;
  stroke-width: 2vw;
}

 /* imac 21.6 */
@media screen and (max-width: 1920px) {

  .branches {
    width: 120%;
    margin-top: -2vw;
    margin-left: -10vw;
  }
}

/* macbook pro 15 custom */
@media screen and (max-width: 1680px) {

  .branches {
    width: 120%;
    margin-left: -10vw;
  }
}

/* macbook pro 15 */
@media screen and (max-width: 1440px) {

  .branches {
    width: 120%;
    margin-left: -10vw;
  }
}

/* macbook air */
@media screen and (max-width: 1366px) {

  .branches {
    width: 120%;
    margin-left: -10vw;
  }
}

/* macbook pro 13 */
@media screen and (max-width: 1280px) {

  .branches {
    width: 120%;
  }
}

/* ipad mini 9.7" landscape */
@media screen and (max-width: 1024px) {
  .branches {
    width: 150%;
    margin-top: -2vw;
    margin-left: -10vw;
  }
}

/* ipad mini 9.7" portrait */
@media screen and (max-width: 768px) {
  .text {
    font-size: 7vw;
    line-height: 140%;
  }
  .branches {
    width: 250%;
    margin-left: -25vw;
  }
}

/* iphone 8 plus */
@media screen and (max-width: 414px) {
  .text {
    top: 30%;
    font-size: 12vw;
    line-height: 140%;
  }
  .branches {
    width: 425%;
    margin-left: -120vw;
  }
}

/* iphone xs */
@media screen and (max-width: 375px) {
  .text {
    top: 30%;
    font-size: 12vw;
    line-height: 140%;
  }
  .branches {
    width: 425%;
    margin-left: -120vw;
  }
}

/* iphone se */
@media screen and (max-width: 320px) {
  .branches {
    width: 350%;
    margin-left: -90vw;
  }
}