@import "reset.css";

html {
  height: 100%;
}

body {
  background-color: #0A2227;
  overflow: hidden;
  height: 100%;
}

.branches, .fireflies {
  position: absolute;
}

.branches {
  margin-left: -150vw;
  /* width: 100%;
  height: 100vh; */
}

.fireflies {
  margin-left: -150vw;
  transform: rotate(90deg);
  /* width: 100%;
  height: 100vh; */
}

/* iphone xs */
@media screen and (max-width: 375px) {

  .branches {
    margin-left: -170vw;
    /* width: 100%;
    height: 100vh; */
  }

  .fireflies {
    margin-left: -150vw;
    height: 100vh;
    /* transform: rotate(90deg); */
    /* width: 100%;
    height: 100vh; */
  }
}

/* iphone 8 plus */
@media screen and (max-width: 414px) {

  .branches {
    margin-left: -180vw;
    /* width: 100%;
    height: 100vh; */
  }

  .fireflies {
    margin-left: -150vw;
    height: 100vh;
    /* transform: rotate(90deg);
    width: 100%;
    height: 100vh; */
  }
}

/* ipad mini 9.7" portrait */
@media screen and (max-width: 768px) {

  .branches {
    margin-left: -10vw;
    /* width: 100%;
    height: 100vh; */
  }

  .fireflies {
    margin-left: -70vw;
    /* width: 100%;
    height: 100vh; */
  }
}

/* ipad mini 9.7" landscape */
@media screen and (max-width: 1024px) {

  .branches {
    margin-left: -10vw;
    width: 150%;
    /* width: 100%;
    height: 100vh; */
  }

  .fireflies {
    margin-left: 0vw;
    transform: rotate(0deg);
    width: 150%;
    /* width: 100%;
    height: 100vh; */
  }
}

/* macbook pro 13 */
@media screen and (max-width: 1280px) {

  .branches {
    margin-left: 0vw;
    width: 120%;
    /* width: 100%;
    height: 100vh; */
  }

  .fireflies {
    margin-left: 0vw;
    width: 120%;
    transform: rotate(0deg);
    /* width: 100%;
    height: 100vh; */
  }
}

/* macbook air */
/* @media screen and (max-width: 1366px) {

  .branches {
    margin-left: -10vw; */
    /* width: 100%;
    height: 100vh; */
  }

  .fireflies {
    /* width: 100%;
    height: 100vh; */
  }
}

/* macbook pro 15 custom */
/* @media screen and (max-width: 1680px) {

  .branches {
    margin-left: -10vw;
    width: 100%;
    height: 100vh;
  }

  .fireflies {
    width: 100%;
    height: 100vh;
  }
} */

/* imac 21.6 */
/* @media screen and (max-width: 1920px) {

  .branches {
    margin-left: -10vw;
    width: 100%;
    height: 100vh;
  }

  .fireflies {
    width: 100%;
    height: 100vh;
  }
} */
